@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background-image: url('../../../public/images/background/fire-burger.jpg');
}

.white-circle-container-1 {
  top: 950px;
  right: 80px;

  width: 200px;
  height: 200px;
}

.white-circle-container-2 {
  top: 1100px;
  right: 300px;
}


.white-circle-container-3 {
  top: 1000px;
  left: 10px;
  
  width: 140px;
  height: 140px;
}

.white-circle-container-4 {
  top: 1100px;
  left: 80px;
  
  width: 170px;
  height: 170px;
}

.white-circle-container-5 {
  top: 1200px;
  right: 80px;
  
  width: 115px;
  height: 115px;
}

.product-image-5 {
  width: 35%;
  transition: width .2s;
}

.lower-menu-container {
  margin-top: 100px;
}

.menu-container:hover > .dish-image {
  width: 110%;
}

@layer components {
  * {
    @apply no-underline text-black;
  }

  header {
    @apply h-[400px] text-white text-[.7rem] bg-cover bg-no-repeat bg-center relative w-[100%];
  }

  main {
    @apply text-[1rem] text-white flex flex-col justify-center items-center;
  }
  
}

/*

.telegram-btn,
.instagram-btn {
  border: 2px solid black;
  border-radius: 7px;

  background-color: white;
  
  font-weight: 700;
  font-size: 0.75rem;
  padding: 13px 15px;
  
  margin-right: 15px;

  cursor: pointer;
}

.telegram-btn {
  transition: background-color 1s;

}

.telegram-btn:hover {
  background-color: #0088cc;
  color: white;

  border-color: white;

}

.instagram-btn {
  background-color: black;
  color: white;

  transition: background 1s;
}

.instagram-btn:hover  {
  background: linear-gradient(to bottom right, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);

  color: white;
  border-color: white;
}


@media (max-width: 720px) {

  .about-container {
    max-width: 650px;
    width: 400px;
  }

  .header__nav {
    margin-left: 20px;
    margin-right: 20px;
  }

  .introduction-container {
    margin-top: 100px;
    margin-left: 10%;
  }

  .mission-container {
    margin-left: 40px;
  }

  .mission-article-container {
    margin-left: 50px;
  }

  .left-section-container {
    margin-right: 15px;
  }

  .white-circle-container-1 {
    top: 1050px;
    right: 20px;
  }
  
  .white-circle-container-2 {
    top: 1230px;
    right: 330px;
  }
  
  .white-circle-container-3 {
    top: 1050px;
    left: 40px;
  
  }
  
  .white-circle-container-4 {
    top: 1120px;
    left: 140px;
  }
  
  .white-circle-container-5 {
    top: 1230px;
    right: 30px;
  }

  .main-second-section {
    margin-top: 100px;
  }

  .menu-container {
    width: 20%;
    height: 300px;
  
    border-radius: 5px;
  
    margin-right: 15px;
  }
}
 

@media (max-width: 768px) {

  .about-container {
    height: 600px;
    width: 100%;
  }

  .cutaway-container {
    width: 65%; 
    height: 50%; 
    margin-left: 10px;
    max-width: none; 
  }
  
  .cutaway-info-container > .name-container {
    font-size: 2rem;
  }

  .cutaway-info-container > .tagline-container {
    font-size: 0.8rem;
    margin-bottom: 10px;
  } 

  .contacts-container,
  .location-text-container {
  font-size: .6rem;
  }

  .nav-container {
    flex-direction: column;
    justify-content: left;

    width: 80%;
    height: 500px;

    margin-top: 50px;
  }

  .nav__logo-container {
    margin-left: 0;
    margin-top: 25px;
  }

  .links-buttons-container {
    margin-top: 10px;
  }

  .nav__general-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
  
    margin-right: 0;
    margin-bottom: 30px;
  }
  
  .nav__link {
    margin-right: 0;
    margin-bottom: 10px;
  }


  .sosial-buttons-container {
    margin-left: 0;
  }
  
  .telegram-btn,
  .instagram-btn {
    font-weight: 700;
    font-size: 0.9rem;
    padding: 17px 19px;
  }

}

@media (max-width: 1100px) { 
  .meal-image-container {
    top: 750px;
  }

  .meal-image {
    width: 480px;
    height: 300px;
    object-fit: cover;
  }
}

@media (min-width: 1050px) { 
  .meal-image-container {
    top: 750px;
  }

  .meal-image {
    width: 480px;
    height: 300px;
    object-fit: cover;
  }

  .nav__general-links {
    font-size: 1.5rem;
  
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .telegram-btn,
  .instagram-btn {
    font-size: 1rem;
    padding: 18px 21px;
    margin-left: 30px;
  }

  .links-buttons-container {
    margin-left: 40px;
  }

  .white-circle-container-3 {
    top: 1000px;
    left: 30px;
  }
  
  .white-circle-container-4 {
    top: 1100px;
    left: 100px;
  }

} */